<div class="container">
    <div class="row">
       <div class="col-sm-12">
          <div *ngFor = "let character of characters_list">
            <div class ="card text-black bg-primary mb-3"
                 style = "width: 50rem; margin: auto; cursor: pointer"
                 [routerLink] = "['/characters', character._id]">
                 <div class="card-header">
                    Character details
                </div>
                <div class="card-body">
                    Character name:
                    {{ character.name }}
                </div>
                 <div class="card-body">
                    Character age:
                    {{character.age}}
                </div>
                <div class="card-body">
                    This character's weapon is:
                    {{ character.weapon }}
                </div>
                <div class="card-body">
                    Character victories:
                    {{ character.victories }}
                </div>
                <div class="card-footer">
                    Ranks available:
                    {{ character.rank }}
                </div>
             </div>
          </div>
       </div>
       <!-- col -->
    </div>
    <!-- row -->
 </div>
 <!-- container -->
